@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  background-color: #A64224;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1600px;
  width: 100%;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}
header .container{
  max-width: 1825px;
}



.object-contain {
  object-fit: contain;
}
.object-cover {
  object-fit: cover;
}
.rounded-1 {
  border-radius: 10px !important;
}
.rounded-2 {
  border-radius: 20px !important;
}
.rounded-3 {
  border-radius: 30px !important;
}

.bg-dark {
  background-color: #000 !important;
}
.text-black-50 {
  color: #000 !important;
}
.bg-danger{
  background-color: #A64224 !important;
}
.text-danger{
  color: #712711 !important;
}
.bg-warning{
  background-color: #FFCB25 !important;
}
.text-warning{
  color: #FFCB25 !important;
}
.bg-secondary{
  background-color: #2D2D2D !important;
}



.fw-300 {
  font-weight: 300 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}

/* 0 */

.ls-001 {
  letter-spacing: -0.01em;
}
.ls-002 {
  letter-spacing: -0.02em;
}
.ls-003 {
  letter-spacing: -0.03em;
}
.ls-25 {
  letter-spacing: 0.25em;
}
.ls-100 {
  letter-spacing: 0.1em;
}
.ls-150 {
  letter-spacing: 0.15em;
}
.ls-200 {
  letter-spacing: 0.02em;
}
.ls-210{
  letter-spacing: 0.21px;
}
.ls-300 {
  letter-spacing: 0.03em;
}
.ls-500 {
  letter-spacing: 0.5px;
}
.ls-005 {
  letter-spacing: -0.05em;
}
.ls-002 {
  letter-spacing: -0.02em;
}
.ls-004 {
  letter-spacing: -0.04em;
}
.ls-144 {
  letter-spacing: -1.44px;
}
.ls-072 {
  letter-spacing: -0.72px;
}

/* 0 */

/* 01 */
h1,
.h1 {
  font-size: 50px;
  line-height: 1.1;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-20 {
  font-size: 20px;
}
.fs-25 {
  font-size: 25px;
}
.fs-30 {
  font-size: 30px;
}
.fs-40 {
  font-size: 40px;
}


/* 01 */

/* 02 */
.lh-0 {
  line-height: normal;
}
.lh-0-9 {
  line-height: 0.9;
}
.lh-1-2 {
  line-height: 1.2;
}
.lh-1-3 {
  line-height: 1.3;
}
.lh-1-4 {
  line-height: 1.4;
}
.lh-1-5 {
  line-height: 1.5;
}
.lh-1-7 {
  line-height: 1.7;
}
.lh-1-8 {
  line-height: 1.8;
}
.lh-2 {
  line-height: 2;
}
.lh-2-9{
  line-height: 2.9;
}
/* 02 */
/* .text-shadow {
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
} */

.btn {
  padding: 19px 34px;
  border: 2px solid;
  border-radius: 5px;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-warning{
  background-color: #FFCB25;
  border-color: #FFCB25;
  color: #000;
}
.btn-warning:hover, .btn-warning:focus, .form-group .btn-warning:hover, .form-group .btn-warning:focus, .btn-dark:hover, .btn-dark:focus{
  background-color: #a64224;
  border-color: #a64224;
  color: #fff;
}
.form-group .btn-warning{
  background-color: #FFCB25;
  border-color: #FFCB25;
  color: #a64224;
}
.contact-main .form-group .btn-warning:hover, .contact-main .form-group .btn-warning:focus{
  background-color: #fff;
  border-color: #FFf;
  color: #a64224;
}
.btn-dark{
  background-color: #2D2D2D;
  border-color: #2D2D2D;
  color: #fff;
}

.banner-text .btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: fit-content;
  margin: auto;
}



/* .scroll header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

.navbar-brand {
  display: inline-block;
  max-width:132px;
  width: 100%;
}

.navbar-nav .nav-link {
  line-height: normal;
  padding: 0 !important;
  border-radius: 0px;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #eaeaea;
}
.navbar-nav > li + li {
  margin-left: 45px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #ffcb25;
}



button#ScrollToTop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #000;
  z-index: 99;
  color: #000;
}

button#ScrollToTop:hover {
  background: #000;
  color: #fff;
}

@media (min-width: 992px) {
  div#navbarOffcanvas {
    position: inherit !important;
    flex-direction: row;
    visibility: visible;
    width: auto;
    transform: translateX(0%);
    border-right: 0;
    margin-left: 0;
    background-color: transparent;
  }
  .offcanvas-body {
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

/* .carousel-item::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 38%;
  background-color: rgb(0 0 0 / 20%);
  backdrop-filter: blur(10px);
  z-index: 1;
}

.carousel-inner .container{
  position: relative;
  z-index: 2;
} */


.services-wrap {
  border-radius: 50px 0px 50px 0px;
}
.form-group input{
  border-radius: 5px;
  height: 60px;
}
.form-group input, .form-group input::placeholder, .form-group textarea, .form-group textarea::placeholder{
  color: #7e7c7c !important;
}
.form-group textarea{
  border-radius: 5px;
  height: 148px;
}


.contact-img {
  width: 100vw !important;
  position: absolute;
  top: 0;
  left: 0;
}
.contact-wrap{
  position: relative;
  z-index: 9;
}
.contact-sec::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 30%;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 75.4807710647583%
  );
  z-index: 1;
}


.testimonial-sec{
  background-image: url(../images/testimonial-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* opacity: 10%; */
}
.testimonial-sec::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #712711;
  opacity: 90%;
  display: inline-block;
}
.testimonial-sec .container{
  position: relative;
  z-index: 1;
}
.slick-prev:before, .slick-next:before {
  content: '';
  background-image: url(../images/before-icn.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
.slick-next:before{
  background-image: url(../images/after-icn.svg);
}
.slick-prev, .slick-next, .slick-prev:before, .slick-next:before{
  height: 30px;
  width: 30px;
}
.slick-slide {
  padding: 0 40px;
}
.footer-links ul li a{
  color: #ffffff;
  font-size: 17px;
  line-height: 1.8;
  font-weight: 600;
  text-transform: uppercase;
}
.footer-links ul li a:hover, .footer-info a:hover{
  color:  #ffcb25 !important;
}
.footer-links ul li{
  padding: 5px 15px;
}
.services-text a:hover{
   color: #000 !important;
}
.social-links ul li a{
  background-color: #ffcb25;
  color: #A64224;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: all 0.3s linear;
}
.social-links ul li a:hover{
  background-color: #fff;
}
.copy-right{
  border-color: rgba(232, 189, 85, 0.2) !important;
}
.services-text ul, .landlord-text ul, .landlord-card-disc ul {
  padding-left: 20px;
  list-style: disc;
}
.landlord-card-disc ul {
  padding-left: 40px;
}
.landlord-heading h5{
border-bottom: 1px dotted #ffcb25 !important;
}


.landloard-img {
  height: 458px;
}
.landloard-img::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 75%;
  right: 0px;
  top: 0;
  background-color: #FFCB25;
  border-radius: 50px 0px 50px 0px;
}
 .landloard-img-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 87%;
  width: 90% !important;
  right: 5%;
  border-radius: 50px 0px 50px 0px;
  overflow: hidden;
}
.abtinner-2 .landloard-img::before {
  right: auto;
  left: 0;
}
.abtinner-2 .landloard-img-inner {
  right: auto;
  left: 5%;
}
.landloard-img{
  position: relative;
}

.landlord-card-wrap{
  border-radius: 50px 0px 50px 0px;
}

.contact-info-bx{
  border-radius: 50px 0px 50px 0px;
}
.contact-icn{
  transform: translate(-50%, -90%) !important;
}
.question-disc ul{
  padding-left: 0;
  list-style: none;
}
.question-disc ul li {
  position: relative;
 padding-left: 30px;
 margin: 10px 0;
 position: relative;
}
.question-disc ul li::before{
  content: 'ïµ';
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'FontAwesome';
  font-size: 18px;
  color: #fff;
}



@media(max-width:1850px){
  .container {
    padding-left: 2%;
    padding-right: 2%;
  }
  .navbar-nav > li + li {
    margin-left: 25px;
}
}

@media(max-width:1600px){
  .navbar-brand {
    max-width: 100px;
}
.navbar-nav .nav-link {
    font-size: 11px;
}
    .navbar-nav > li + li {
        margin-left: 20px;
    }
h1, .h1 {
    font-size: 40px;
}
.fs-40 {
    font-size: 30px;
}
.fs-25 {
    font-size: 20px;
}
.btn {
    padding: 15px 25px;
    font-size: 12px;
}
.fs-20 {
    font-size: 16px;
}
.form-group input {
    height: 50px;
}
.fs-30 {
    font-size: 22px;
}
.slick-prev, .slick-next, .slick-prev:before, .slick-next:before {
    height: 20px;
    width: 20px;
}
.slick-next {
    right: -15px;
}
.slick-prev {
    left: -15px;
}
.footer-links ul li a {
    font-size: 15px;
}
.fs-16 {
    font-size: 15px;
}
.social-links ul li a {
    width: 40px;
    height: 40px;
    font-size: 15px;
}
.landloard-img {
  height: 400px;
}
.contact-icn img {
  width: 37px;
}
}

@media(max-width:1199px){
  .navbar-brand {
    max-width: 80px;
}
.navbar-nav .nav-link {
    font-size: 10px;
}
.navbar-nav > li + li
{
    margin-left: 12px;
}
h1, .h1 {
    font-size: 35px;
}
.fs-40 {
    font-size: 25px;
}
.fs-25 {
    font-size: 17px;
}
.btn {
    padding: 10px 20px;
    font-size: 12px;
}
.form-group input {
    height: 45px;
}
.form-group textarea {
height: 120px;
}
.get-btn{
  width: 35%  !important;
}
}


@media (max-width: 991.60px) {
  .navbar-toggler {
    font-size: 22px;
    padding: 0;
    color: #fff;
    display: block;
  }
  .navbar-nav .nav-link {
    margin: 8px 0px;
  }

  .navbar-toggler-icon {
    width: auto;
    height: auto;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  div#navbarOffcanvas {
background-color: #A64224 !important;
    border-right: 0 !important;
    padding: 35px !important;
    width: 300px !important;
  }
  .navbar-nav > li + li {
    margin-left: 0;
  }

  .offcanvas-header .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    /* filter: brightness(1) invert(0); */
    opacity: 1;
  }
  .offcanvas-header {
    padding: 0;
    display: block !important;
  }
  h1, .h1 {
    font-size: 32px;
}
.fs-40 {
    font-size: 22px;
}
.navbar-nav .nav-link {
    font-size: 15px;
}
.slick-slide {
  padding: 0 20px;
}
.landloard-img-inner {
  width: 95% !important;
}
.get-btn{
  width: 100%  !important;
}
.land-lord-lft.w-75 {
    width: 100% !important;
    text-align: center;
}
.about-banner-wrap span {
    font-size: 19px;
}
.carousel-item {
    height: 400px;
}
}


@media(max-width:767px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .carousel-item {
    height: 450px;
}
.testimonail-disc br {
  display: none;
}
.sub-banner-img {
  height: 300px;
}
  .landloard-img {
      height: 350px;
  }
  .contact-map{
    height: 300px !important;
  }

}
@media(max-width:575px){
  .carousel-item {
    height: 700px;
}
/* .footer-links ul {
    flex-wrap: wrap;
    gap: 18px !important;
} */
.sub-banner-img {
  height: 250px;
}
.landloard-img {
  height: 280px;
}
.landlord-card-disc ul {
padding-left: 20px;
}
}

